*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.cursor{
    width: 20px;
    height: 20px;
    z-index: 100;
    border-radius: 50%;
    pointer-events: none;
    position: relative;
  position: fixed;
    background-color: rgb(255, 4, 87);
  top: 0;
  left: 0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #ff1361;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background-color: purple;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

nav{
    display: flex;
    align-items: center;
    background: black;
    justify-content:space-between;
    padding: 5px 5%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li {
    list-style-type: none;
    font-size: 18px;
    font-weight: 800;
    margin: 30px;
    display: inline-block;   
}
.nav-left ul li a{
   text-decoration: none;
   color: white;

}
.nav-left ul li:hover a{
    color:rgb(253, 5, 46);
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}
h3 a{
    color:rgb(253, 5, 46);
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer; 
}
.nav-user-icon img{
    width: 40px;
    height: 40px;
    position: relative;
    left: 100px;
    top: 23px;
}
.profilename{
    color:rgb(253, 5, 46);
    font-weight: 800;
    font-size: 15px;
    margin: 10px;
    position: relative;
    right: 200px;
    bottom: 20px; 
}
#home{
    background-color:black;
    height: 470px;
    overflow-x: hidden;
}
h1, h2, h4{
    position: relative;
    left: 57px;  
}
h1{
    top: 60px;
    font-size: 50px;
    font-weight: 900;
}
h1:hover{
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

h2{
    top:90px;
    font-size: 30px;
    font-weight: 900;
}
h4{
    top: 130px;
    font-size: 60px;
    font-weight: 900;
}
.nameint{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.designation:hover{
    color: purple;
}
.rajesh{
    position: relative;
    left: 1000px;
    height: 10px;
    width: 100px;
    bottom: 280px;
   
    
}
.rajesh img{
    width: 400px;
    height: 520px; 
}
.rajesh img:hover{
    opacity: 0.6;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(0.5);
    transition: 1s ease;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
}
.button{
    position: relative;
    left: 1000px;
    top: 60px;
    width: 180px;
    text-align: center;
    border-radius: 45px;
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
    color: white;
    background-color: #ff1361;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
.button:hover{
    border: 2px solid white;
    background-color: purple;
}
#about{
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 15px 25px;
    display: grid;
    border-bottom: 5px solid black;
    background-color: #070008;
    padding: 20px;
}

h6 {
    margin-top: 30px;
    font-size: 50px;
    position: relative;
    left: 423px;
    padding: 10px;
    background-color:  #c03cd1;
    color: #fffffd;
    border-radius: 25px;
    font-weight: 800;
    width: 500px;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    
}
h6:hover{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#projects{
    background-color: black;
}
#projects img {
    object-fit: cover;
    border: 2px solid #ff1361;
    margin-top: 20px;
    margin: 16px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    border-radius:10px;
  
  }
  #projects img:hover{
   border: 5px solid white;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }

#contact{
    background-color: black;
    height: 470px;
    overflow-x: hidden;
}
h1, h2, h4{
    position: relative;
    left: 57px;  
}
h1{
    top: 60px;
    color: #ff1361;
    font-size: 50px;
    font-weight: 900;
}
h2{
    top:90px;
    font-size: 30px;
    font-weight: 900;
}
h4{
    top: 130px;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}
.nameint{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.designation:hover{
    color: purple;
}
p{
    position: relative;
    top: 150px;
    left: 58px;
    font-size: 30px;
    color: purple;
    font-weight: 800;
}
p:hover{
    color: #ff1361;
}
#button{
    position: relative;
    left: 1000px;
    width: 180px;
    text-align: center;
    border-radius: 45px;
    font-size: 35px;
    font-weight: 600;
    padding: 20px;
    color: white;
    background-color: #ff1361;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
#button:hover{
    border: 2px solid white;
    background-color: purple;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
  
  #myBtn:hover {
    background-color: rgb(255, 5, 46);
  }


  /* media queries */

  @media (max-width:320px) {
    nav{
        top: 0;
        position: sticky;
    }
      .profilename{
          display: none;
      }

      h3 a{
          font-size: 20px;
      }
      .nav-user-icon img{
          position: relative;
          left: 0px;
          width: 35px;
          height: 35px;
          top: 0px; 
      }
      .nav-left ul li a{
          display: none;
      }
    .menu{
        width: 20px;
        object-fit: cover;
        height: 20px;
        background-color: #fff;
        color: rgb(224, 55, 55);
    }
    h1{
        left: 15px;
        position: relative;
        font-size: 25px;
    }
    h2{
        left: 15px;
        position: relative;
        font-size: 10px;
    }
    h4{
        left: 15px;
        position: relative;
        font-size: 20px;
    }
    .nameint{
        font-size: 20px;
    }
    .rajesh{
        position: relative;
        left: 135px;
        height: 150px;
        width: 100px;
        top: 130px;
    }
    .rajesh img{
        width: 180px;
        height: 230px;
    }
    .button{
        position: relative;
        bottom: 50px;
        left: 35px;
        width: 100px;
        font-size: 15px;
    }
    h6{
        position: relative;
        font-size: 20px;
        left: 85px;
        width: 150px;  
    }
    p{
        position: relative;
        left: 15px;
        font-size: 20px;
    }
    #button{
        position: relative;
        top: 190px;
        left: 30px;
        width: 100px;
        font-size: 15px;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 230px;
        width: 70px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: yellow;
        color: black;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
    }
      
  }


  
  @media (max-width:375px) {
    .profilename{
        display: none;
    }

    h3 a{
        font-size: 20px;
    }
    .nav-user-icon img{
        position: relative;
        left: 0px;
        width: 35px;
        height: 35px;
        top: 0px; 
    }
    .nav-left ul li a{
        display: none;
    }
  .menu{
      width: 20px;
      object-fit: cover;
      height: 20px;
      background-color: #fff;
      color: rgb(224, 55, 55);
   }
   h1{
    left: 15px;
    position: relative;
    font-size: 25px;
  }
  h2{
    left: 15px;
    position: relative;
    font-size: 10px;
  }
  h4{
    left: 15px;
    position: relative;
    font-size: 20px;
  }
  .nameint{
    font-size: 20px;
  }
  .rajesh{
    position: relative;
    left: 135px;
    height: 150px;
    width: 100px;
    top: 130px;
  }
  .rajesh img{
    width: 180px;
    height: 230px;
}
.button{
    position: relative;
    bottom: 50px;
    left: 35px;
    width: 100px;
    font-size: 15px;
}

h6{
    position: relative;
    font-size: 20px;
    left: 85px;
    width: 150px;
}
p{
    position: relative;
    left: 15px;
    font-size: 20px;
}
#button{
    position: relative;
    top: 190px;
    left: 30px;
    width: 100px;
    font-size: 15px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 230px;
    width: 70px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
  
    
}



  
@media (max-width:425px) {
    .profilename{
        display: none;
    }

    h3 a{
        font-size: 20px;
    }
    .nav-user-icon img{
        position: relative;
        left: 0px;
        width: 35px;
        height: 35px;
        top: 0px; 
    }
    .nav-left ul li a{
        display: none;
    }
  .menu{
      width: 20px;
      object-fit: cover;
      height: 20px;
      background-color: #fff;
      color: rgb(224, 55, 55);
  }
  h1{
    left: 15px;
    position: relative;
    font-size: 25px;
}
h2{
    left: 15px;
    position: relative;
    font-size: 10px;
}
h4{
    left: 15px;
    position: relative;
    font-size: 20px;
}
.nameint{
    font-size: 20px;
}
.rajesh{
    position: relative;
    left: 135px;
    height: 150px;
    width: 100px;
    top: 130px;
}
.rajesh img{
    width: 180px;
    height: 230px;
}
.button{
    position: relative;
    bottom: 50px;
    left: 35px;
    width: 100px;
    font-size: 15px;
}
h6{
    position: relative;
    font-size: 20px;
    left: 85px;
    width: 150px;
}
p{
    position: relative;
    left: 15px;
    font-size: 20px;
}
#button{
    position: relative;
    top: 190px;
    left: 30px;
    width: 100px;
    font-size: 15px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 230px;
    width: 70px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: yellow;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
  
    
}

